[submodule "Wireless-control-Arduino-with-Record-and-Play.wiki"]
	path = Wireless-control-Arduino-with-Record-and-Play.wiki
	url = https://github.com/strivetobebetter/Wireless-control-Arduino-with-Record-and-Play.wiki.git
